*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 40vh;
    width: 40vh;
    padding: 7px;
    margin: 15px;
    border: 2px solid black;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: linear-gradient(to right bottom, #ffa585, #45c5d8);

}

.Top-Btn{
    padding: 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 5px;
}

.home-Btn{
    height: 40px;
    width: 200px;
    padding: 4px;
    background: linear-gradient(to right top, #ffa585, #45c5d8);
    color: rgb(7, 7, 7);
    border: none;
    border-radius: 15px;
    border: 1px solid black;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;

}

#insta{
    background: linear-gradient(to right bottom, #ffa585, #45c5d8);

}
.Btn{
    font-size: 1rem;
    height: 40px;
    width: 100px;
    background: #678579;
    border: none;
    border-radius: 7px;
    color: rgb(243, 162, 115);
    font-weight: 500;
    margin-bottom: 10px;
    cursor: pointer;

}